# Super Admin Config
VITE_SUPER_ADMIN_EMAILS=n.gujarati25288@gmail.com,8511125288@daily-learning-exam.com
VITE_SUPER_ADMIN_MOBILE=8511125288
VITE_SUPER_ADMIN_PASSWORD=Nayan@25288

# Gemini API Key for AI Question Generation
GEMINI_API_KEY=
